.git
.gitignore
.next
.env
.env.*
node_modules
npm-debug.log
README.md
.dockerignore
Dockerfile
docker-compose*.yml
*.md
.vscode
coverage
.github
test
**/*.test.ts
**/*.test.tsx
**/*.spec.ts
**/*.spec.tsx
